$primary-color: #343a40; // Color de fondo del header
$secondary-color: #ffffff; // Color de fondo del body
$footer-bg-color: #343a40; // Color de fondo del footer
$footer-text-color: #ffffff; // Color del texto del footer
$grid-gap: 20px; // Espacio entre los ítems del grid
